<div class="card mb-3" id="<%= dom_id(discussion) %>">
  <div class="card-body">
    <h5 class="card-title"><%= discussion.name %></h5>
    <p class="card-text">Pinned: <%= discussion.pinned %> | Closed: <%= discussion.closed %></p>
  </div>
</div>
